@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 216 28% 92%;
    --foreground: 235 63% 10%;
    --card: 0 0% 100%;
    --card-foreground: 235 63% 10%;
    --popover: 0 0% 100%;
    --popover-foreground: 235 63% 10%;
    --primary: 235 63% 30%;
    --primary-foreground: 0 0% 98%;
    --secondary: 216 28% 85%;
    --secondary-foreground: 235 63% 30%;
    --muted: 216 28% 85%;
    --muted-foreground: 235 20% 45%;
    --accent: 291 64% 42%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 216 28% 80%;
    --input: 216 28% 80%;
    --ring: 235 63% 30%;
    --radius: 0.5rem;
    --chart-1: 235 63% 30%;
    --chart-2: 291 64% 42%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    
    --sidebar-background: 235 63% 30%;
    --sidebar-foreground: 216 28% 92%;
    --sidebar-primary: 224.3 76.3% 48%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 235 63% 40%;
    --sidebar-accent-foreground: 0 0% 98%;
    --sidebar-border: 235 63% 40%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  }

  .dark {
    --background: 240 6% 10%;
    --foreground: 0 0% 98%;
    --card: 240 6% 10%;
    --card-foreground: 0 0% 98%;
    --popover: 240 6% 10%;
    --popover-foreground: 0 0% 98%;
    --primary: 235 63% 70%;
    --primary-foreground: 235 63% 10%;
    --secondary: 240 4% 16%;
    --secondary-foreground: 0 0% 98%;
    --muted: 240 4% 16%;
    --muted-foreground: 0 0% 63.9%;
    --accent: 291 64% 52%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 4% 16%;
    --input: 240 4% 16%;
    --ring: 235 63% 70%;
    
    --chart-1: 235 63% 70%;
    --chart-2: 291 64% 52%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
    
    --sidebar-background: 240 6% 10%;
    --sidebar-foreground: 0 0% 98%;
    --sidebar-primary: 224.3 76.3% 48%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 240 4% 16%;
    --sidebar-accent-foreground: 0 0% 98%;
    --sidebar-border: 240 4% 16%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
